.KDuQp > :not(:last-child) {
  padding-right: 0px !important;
  padding-top: 3px;
}

.J_0ip {
  font-size: 8px !important;
  height: 14px !important;
  min-width: 14px !important;
}

.KdEwV {
  top: -4px !important;
  right: -4px !important;
}

html.mtz_mobile_mode {
  /*_____scrollbar________________________________________________________________________________________________________*/
  /*____________________________________________________________________________________________________________________*/
}
html.mtz_mobile_mode ::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 0;
  height: 0;
}
html.mtz_mobile_mode ::-webkit-scrollbar-track {
  background-color: #181e2a;
  opacity: 0.5;
}
html.mtz_mobile_mode ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #181e2a;
  opacity: 0.5;
}
html.mtz_mobile_mode ::-webkit-scrollbar-thumb:hover {
  background-color: #2f4050;
}
html.mtz_mobile_mode ::-webkit-scrollbar {
  width: 0;
  height: 0;
}
html.mtz_mobile_mode .b5itu button {
  outline: none;
  border: none;
  margin: 0 8px;
  padding: 0 !important;
}
html.mtz_mobile_mode .b5itu button:hover {
  transition: all 0.3s;
  opacity: 0.5;
  cursor: pointer;
}
html.mtz_mobile_mode .mTGkH {
  padding: 0;
}
html.mtz_mobile_mode .o4NXM {
  display: none;
}
html.mtz_mobile_mode .K3Sf1 {
  margin-left: 32px;
}
html.mtz_mobile_mode .mtz-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}
html.mtz_mobile_mode .mtz-icon.mtz-icon-back {
  background: url(chrome-extension://__MSG_@@extension_id__/img/left-arrow.svg) center/80% no-repeat;
  margin: 0 5px;
}
html.mtz_mobile_mode .mtz-icon.mtz-icon-forward {
  display: none;
  background: url(chrome-extension://__MSG_@@extension_id__/img/right-arrow.svg) center/80% no-repeat;
  margin: 0 2px;
}
html.mtz_mobile_mode .mtz-icon.mtz-icon-refresh {
  background: url(chrome-extension://__MSG_@@extension_id__/img/refresh.svg) center/80% no-repeat;
  margin: 0 5px 0 0;
}
html.mtz_mobile_mode .mtz-icon.mtz-icon-tv {
  background: url(chrome-extension://__MSG_@@extension_id__/img/tv.svg) center/90% no-repeat;
}
html.mtz_mobile_mode .mtz-icon.mtz-icon-screen {
  background: url(chrome-extension://__MSG_@@extension_id__/img/screen.svg) center/80% no-repeat;
}
html.mtz_mobile_mode .b5itu {
  padding: 0 8px;
}
html.mtz_mobile_mode .ltpMr.Slqrh .glyphsSpriteDirect__outline__24__grey_9.u-__7 {
  width: 22px;
  height: 22px;
}
html.mtz_mobile_mode .glyphsSpriteCamera__outline__24__grey_9.u-__7 {
  width: 20px;
  height: 20px;
  background: url(chrome-extension://__MSG_@@extension_id__/img/camera.svg) center/90% no-repeat;
}
html.mtz_mobile_mode .glyphsSpriteUser_follow__outline__24__grey_9.u-__7 {
  width: 20px;
  height: 20px;
  background: url(chrome-extension://__MSG_@@extension_id__/img/user.svg) center/contain no-repeat;
}
html.mtz_mobile_mode .glyphsSpriteDirect__outline__24__grey_9.u-__7 {
  width: 15px;
  height: 15px;
  margin: 0 4px;
  background: url(chrome-extension://__MSG_@@extension_id__/img/messages.svg) center/contain no-repeat !important;
}
html.mtz_mobile_mode .glyphsSpriteAdd__outline__24__grey_9.u-__7 {
  width: 16px;
  height: 16px;
  background: url(chrome-extension://__MSG_@@extension_id__/img/plus.svg) center/contain no-repeat !important;
}
html.mtz_mobile_mode .glyphsSpriteInfo__outline__24__grey_9.u-__7 {
  width: 16px;
  height: 16px;
  background: url(chrome-extension://__MSG_@@extension_id__/img/info.svg) center/contain no-repeat !important;
}
html.mtz_mobile_mode .glyphsSpriteMobile_nav_type_logo.u-__7 {
  transform: scale(0.8);
}
html.mtz_mobile_mode .glyphsSpriteChevron_left__outline__24__grey_9 {
  display: none;
}
html.mtz_mobile_mode .glyphsSpriteSettings__outline__24__grey_9 {
  background: url(chrome-extension://__MSG_@@extension_id__/img/settings.svg) center/90% no-repeat;
  height: 20px;
  width: 20px;
}
html.mtz_mobile_mode.mtz_dark_mode header._9ezyW,
html.mtz_mobile_mode.mtz_dark_mode .A8wCM,
html.mtz_mobile_mode.mtz_dark_mode .YQf7h,
html.mtz_mobile_mode.mtz_dark_mode .BvMHM,
html.mtz_mobile_mode.mtz_dark_mode ._1Yr2- {
  background: #1f2837;
}
html.mtz_mobile_mode.mtz_dark_mode .zGtbP {
  background-color: #181e2a;
  border-bottom: 1px solid #000;
}
html.mtz_mobile_mode.mtz_dark_mode body,
html.mtz_mobile_mode.mtz_dark_mode main.SCxLW.uzKWK,
html.mtz_mobile_mode.mtz_dark_mode .uKzpc,
html.mtz_mobile_mode.mtz_dark_mode .mAUDl,
html.mtz_mobile_mode.mtz_dark_mode .D_6tu,
html.mtz_mobile_mode.mtz_dark_mode .pbNvD,
html.mtz_mobile_mode.mtz_dark_mode ._6xe7A,
html.mtz_mobile_mode.mtz_dark_mode ._7XkEo,
html.mtz_mobile_mode.mtz_dark_mode .abaSk,
html.mtz_mobile_mode.mtz_dark_mode .BSqtQ {
  background: #181e2a;
  color: #fff;
}
html.mtz_mobile_mode.mtz_dark_mode .YaGYu,
html.mtz_mobile_mode.mtz_dark_mode .T030x,
html.mtz_mobile_mode.mtz_dark_mode .XdXBI,
html.mtz_mobile_mode.mtz_dark_mode .nJAzx,
html.mtz_mobile_mode.mtz_dark_mode ._9Ytll,
html.mtz_mobile_mode.mtz_dark_mode .TlrDj,
html.mtz_mobile_mode.mtz_dark_mode .YFq-A,
html.mtz_mobile_mode.mtz_dark_mode ._8A5w5,
html.mtz_mobile_mode.mtz_dark_mode ._0G-TY,
html.mtz_mobile_mode.mtz_dark_mode .sxIVS,
html.mtz_mobile_mode.mtz_dark_mode .tiXqb,
html.mtz_mobile_mode.mtz_dark_mode .JLJ-B,
html.mtz_mobile_mode.mtz_dark_mode .p7vTm,
html.mtz_mobile_mode.mtz_dark_mode .ada5V,
html.mtz_mobile_mode.mtz_dark_mode .K3Sf1,
html.mtz_mobile_mode.mtz_dark_mode .zwlfE,
html.mtz_mobile_mode.mtz_dark_mode .g47SY,
html.mtz_mobile_mode.mtz_dark_mode .zOJg-,
html.mtz_mobile_mode.mtz_dark_mode .ufStW,
html.mtz_mobile_mode.mtz_dark_mode .yVvXQ,
html.mtz_mobile_mode.mtz_dark_mode .XAiP-,
html.mtz_mobile_mode.mtz_dark_mode .Ypffh {
  color: #fff;
}
html.mtz_mobile_mode.mtz_dark_mode .aOOlW,
html.mtz_mobile_mode.mtz_dark_mode .abaSk,
html.mtz_mobile_mode.mtz_dark_mode .mAUDl,
html.mtz_mobile_mode.mtz_dark_mode ._3dEHb,
html.mtz_mobile_mode.mtz_dark_mode .Nd_Rl,
html.mtz_mobile_mode.mtz_dark_mode .fx7hk,
html.mtz_mobile_mode.mtz_dark_mode ._2z6nI,
html.mtz_mobile_mode.mtz_dark_mode .sH9wk {
  border-top: 1px solid #0b0d13;
}
html.mtz_mobile_mode.mtz_dark_mode .y2E5d,
html.mtz_mobile_mode.mtz_dark_mode ._1Yr2-,
html.mtz_mobile_mode.mtz_dark_mode .UE9AK,
html.mtz_mobile_mode.mtz_dark_mode .mAUDl,
html.mtz_mobile_mode.mtz_dark_mode .PUHRj::after,
html.mtz_mobile_mode.mtz_dark_mode .uKzpc {
  border-bottom: 1px solid #0b0d13;
}
html.mtz_mobile_mode.mtz_dark_mode .bq3Mi,
html.mtz_mobile_mode.mtz_dark_mode .vboSt,
html.mtz_mobile_mode.mtz_dark_mode .YQf7h,
html.mtz_mobile_mode.mtz_dark_mode .BvMHM,
html.mtz_mobile_mode.mtz_dark_mode .NP414 {
  border: 1px solid #0b0d13;
}
html.mtz_mobile_mode.mtz_dark_mode a,
html.mtz_mobile_mode.mtz_dark_mode a:visited {
  color: #4c9eeb;
}
html.mtz_mobile_mode.mtz_dark_mode .PyUka,
html.mtz_mobile_mode.mtz_dark_mode .PyUka::before {
  background: #181e2a;
}
html.mtz_mobile_mode.mtz_dark_mode .-fzfL {
  color: #656565;
}
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteApp_Icon,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteCamera__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteChevron_left__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteChevron_right__outline__24__grey_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteCircle_add__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteComment__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteDelete__outline__24__grey_0,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteDirect__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteFacebook__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteHashtag__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteHeart__filled__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteHeart__filled__24__red_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteHeart__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteHome__filled__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteHome__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteLink__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteLocation__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteMail__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteMobile_nav_type_logo,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteMore_horizontal__filled__24__grey_0,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteMore_horizontal__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteNew_post__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpritePaging_chevron,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpritePhoto_grid__outline__24__blue_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpritePhoto_grid__outline__24__grey_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpritePhoto_list__outline__24__blue_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpritePhoto_list__outline__24__grey_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSave__filled__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSave__outline__24__blue_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSave__outline__24__grey_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSave__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSearch__filled__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSearch__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSettings__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteShare__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteShare_facebook,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteShare_messenger,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteShare_twitter,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteShare_whatsapp,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteTag_up__outline__24__blue_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteTag_up__outline__24__grey_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteUser__filled__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteUser__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteUser_follow__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteVerified_small,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteX__outline__24__grey_9 {
  background-image: url(https://ig-web.net/app/img/4c9eeb.png?v);
}
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteDirect__outline__24__grey_9.u-__7 {
  background: url(chrome-extension://__MSG_@@extension_id__/img/messages-d.svg) center/contain no-repeat !important;
}
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteAdd__outline__24__grey_9.u-__7 {
  background: url(chrome-extension://__MSG_@@extension_id__/img/plus-d.svg) center/contain no-repeat !important;
}
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteInfo__outline__24__grey_9.u-__7 {
  background: url(chrome-extension://__MSG_@@extension_id__/img/info-d.svg) center/contain no-repeat !important;
}
@media not all, (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteApp_Icon,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteCamera__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteChevron_left__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteChevron_right__outline__24__grey_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteCircle_add__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteComment__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteDelete__outline__24__grey_0,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteDirect__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteFacebook__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteHashtag__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteHeart__filled__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteHeart__filled__24__red_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteHeart__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteHome__filled__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteHome__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteLink__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteLocation__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteMail__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteMobile_nav_type_logo,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteMore_horizontal__filled__24__grey_0,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteMore_horizontal__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteNew_post__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpritePaging_chevron,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpritePhoto_grid__outline__24__blue_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpritePhoto_grid__outline__24__grey_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpritePhoto_list__outline__24__blue_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpritePhoto_list__outline__24__grey_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSave__filled__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSave__outline__24__blue_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSave__outline__24__grey_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSave__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSearch__filled__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSearch__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteShare__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteShare_facebook,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteShare_messenger,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteShare_twitter,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteShare_whatsapp,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteTag_up__outline__24__blue_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteTag_up__outline__24__grey_5,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteUser__filled__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteUser__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteUser_follow__outline__24__grey_9,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteVerified_small,
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteX__outline__24__grey_9 {
    background-image: url(https://ig-web.net/app/img/4c9eeb-mac.png?v);
  }
}
html.mtz_mobile_mode.mtz_dark_mode .mtz-icon.mtz-icon-back {
  background: url(chrome-extension://__MSG_@@extension_id__/img/left-arrow-d.svg) center/80% no-repeat;
}
html.mtz_mobile_mode.mtz_dark_mode .mtz-icon.mtz-icon-forward {
  background: url(chrome-extension://__MSG_@@extension_id__/img/right-arrow-d.svg) center/80% no-repeat;
}
html.mtz_mobile_mode.mtz_dark_mode .mtz-icon.mtz-icon-refresh {
  background: url(chrome-extension://__MSG_@@extension_id__/img/refresh-d.svg) center/80% no-repeat;
}
html.mtz_mobile_mode.mtz_dark_mode .mtz-icon.mtz-icon-tv {
  background: url(chrome-extension://__MSG_@@extension_id__/img/tv-d.svg) center/90% no-repeat;
}
html.mtz_mobile_mode.mtz_dark_mode .mtz-icon.mtz-icon-screen {
  background: url(chrome-extension://__MSG_@@extension_id__/img/screen-d.svg) center/80% no-repeat;
}
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteSettings__outline__24__grey_9 {
  background: url(chrome-extension://__MSG_@@extension_id__/img/settings-d.svg) center/90% no-repeat !important;
}
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteCamera__outline__24__grey_9.u-__7 {
  background: url(chrome-extension://__MSG_@@extension_id__/img/camera-d.svg) center/contain no-repeat;
}
html.mtz_mobile_mode.mtz_dark_mode .glyphsSpriteUser_follow__outline__24__grey_9.u-__7 {
  background: url(chrome-extension://__MSG_@@extension_id__/img/user-d.svg) center/contain no-repeat;
}

._9ezyW .mTGkH svg {
  height: 18px !important;
  width: auto !important;
}

.xWeGp {
  padding-top: 2px !important;
}
.xWeGp svg {
  width: auto !important;
  height: 17px !important;
}

.Iazdo {
  display: none !important;
}

.dCJp8 {
  margin-top: -2px !important;
}
.dCJp8 span {
  transform: scale(0.7733) !important;
}

/*# sourceMappingURL=content.css.map */
